<html>
    <head>
        <title> Arabic tweet sentiment predictor</title>
        <style>
            img {
                width: 150px;
                border-radius: 75px;
                float: left;
                margin-right: 10px;
            }
            .username {
                font-weight: bold ;
            }
            body {
            background-image: url("/static/background.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
         }
        </style>

        

    </head>
    <body>
        <span>tweet_text:</span> <input id="input_1"></input><br>
        
       


        <button type="button" id="submit">Submit</button>


        <p id=result> </p>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type=text/javascript>

        let display_results = function(data) {
            $("p#result").text(data.model_result);
            }


        let send_data = function() {
        $.getJSON('/model', {
        input_1: $('input[id="input_1"]').val(),
        }, display_results);
        }

        

        $(function() {
            $('button#submit').click(send_data);
            });

    
        </script>

    </body>
</html>